![](https://i.imgur.com/0AUxkXt.png)

# Assignment 1 - The Hacker Rank

HackerRank is a place where programmers from all over the world come together to solve problems in a wide range of Computer Science domains.

As you solve more challenges, you earn points and move up the HackerRank Leaderboard.

Looking for a job at an awesome company? You can get hired by solving [challenges](https://www.hackerrank.com/jobs/search)!

It's cool. Let's establish your knowledge and fight for glory!

But before that let's make it clear that..

## Note-taking is IMPORTANT

Blog: [Why is note-taking important](https://nickblackbourn.com/blog/why-is-note-taking-important/)

Note taking isn’t just important for college students, it’s a valuable life skill.

Effective note taking helps you to remember information and aids your understanding of that information. 

**Notes boost your understanding**

By making notes, you force yourself to construct a conceptual mental representation of the ideas you are grappling with. It is this process that helps you comprehend the subject matter you are working with.

**Notes are a repository of your thinking**

When you need to recall something that you came across a while ago, you can go over the main ideas by looking over your notes. This is why good, comprehensive notes are so useful; they are a catalogue of the best ideas you’ve encountered, and what you thought about them.

etc.

## Requirements

Pick 10 challenges on HackerRank about SQL and 5 about Python in **easy** level:

[HackerRank - Domain SQL](https://www.hackerrank.com/domains/sql?filters%5Bdifficulty%5D%5B%5D=easy&filters%5Bsubdomains%5D%5B%5D=select)

[HackerRank - Domain Python](https://www.hackerrank.com/domains/python?filters%5Bdifficulty%5D%5B%5D=easy)

For each challenge:

* Create a markdown cell first that describes the challenge.
* Solve the challenge on HackerRank and copy your solution to a code cell below
* (Optional) A short description about how you came up with the solution would be awesome.

## Example

### SQL


#### Problem 1

Query all columns for all American cities in **CITY** with populations larger than 100000. The CountryCode for America is USA.

**Input Format**

The **CITY** table is described as follows:

| Field | Type |
|:----:|:---:|
| ID | NUMBER |
| NAME | VARCHAR2(17) |
| COUNTRYCODE | VARCHAR2(3) |
| DISTRICT | VARCHAR2(20) |
| POPULATION | NUMBER |

In [0]:
# Solution
# SELECT * from city WHERE population>100000 AND countrycode='USA';

### Python

#### Problem 1

**Task** 
Given an integer, , perform the following conditional actions:

* If `n` is odd, print *Weird*
* If `n` is even and in the inclusive range of 2 to 5, print *Not Weird*
* If `n` is even and in the inclusive range of 6 to 20, print *Weird*
* If `n` is even and greater than 20, print *Not Weird*

**Input Format**

A single line containing a positive integer, .

**Output Format**

Print Weird if the number is weird; otherwise, print Not Weird.

In [0]:
n = int(input())

if n % 2 == 1:
    print('Weird')
else:
    if (n >= 2) and (n <= 5):
        print('Not Weird')
    elif (n >= 6) and (n <= 20):
        print('Weird')
    else:
        print('Not Weird')

## Your turn

Good luck and have fun!

## SQL

### Challenge 1
Query the names of all American cities in CITY with populations larger than 120000. The CountryCode for America is USA.

**Input Format**

The **CITY** table is described as follows:

| Field | Type |
|:----:|:---:|
| ID | NUMBER |
| NAME | VARCHAR2(17) |
| COUNTRYCODE | VARCHAR2(3) |
| DISTRICT | VARCHAR2(20) |
| POPULATION | NUMBER |

In [0]:
# select name from city where countrycode = 'USA' and population > 120000;

### Challenge 2
Query all columns (attributes) for every row in the CITY table.

**Input Format**

The **CITY** table is described as follows:

| Field | Type |
|:----:|:---:|
| ID | NUMBER |
| NAME | VARCHAR2(17) |
| COUNTRYCODE | VARCHAR2(3) |
| DISTRICT | VARCHAR2(20) |
| POPULATION | NUMBER |

In [0]:
# select * from city;

### Challenge 3
Query all columns for a city in CITY with the ID 1661.

**Input Format**

The **CITY** table is described as follows:

| Field | Type |
|:----:|:---:|
| ID | NUMBER |
| NAME | VARCHAR2(17) |
| COUNTRYCODE | VARCHAR2(3) |
| DISTRICT | VARCHAR2(20) |
| POPULATION | NUMBER |

In [0]:
# select * from city where id = '1661';

### Challenge 4
Query all attributes of every Japanese city in the CITY table. The COUNTRYCODE for Japan is JPN.

**Input Format**

The **CITY** table is described as follows:

| Field | Type |
|:----:|:---:|
| ID | NUMBER |
| NAME | VARCHAR2(17) |
| COUNTRYCODE | VARCHAR2(3) |
| DISTRICT | VARCHAR2(20) |
| POPULATION | NUMBER |

In [0]:
# select * from city where countrycode = 'JPN';

### Challenge 5
Query the names of all the Japanese cities in the CITY table. The COUNTRYCODE for Japan is JPN.

**Input Format**

The **CITY** table is described as follows:

| Field | Type |
|:----:|:---:|
| ID | NUMBER |
| NAME | VARCHAR2(17) |
| COUNTRYCODE | VARCHAR2(3) |
| DISTRICT | VARCHAR2(20) |
| POPULATION | NUMBER |

In [0]:
# select name from city where countrycode = 'JPN';

### Challenge 6
Query a list of CITY and STATE from the STATION table.

**Input Format**

The **STATION** table is described as follows:

| Field | Type |
|:----:|:---:|
| ID | NUMBER |
| CITY | VARCHAR2(21) |
| STATE | VARCHAR2(2) |
| LAT_N | NUMBER |
| LONG_W | NUMBER |

where LAT_N is the northern latitude and LONG_W is the western longitude.

In [0]:
# SELECT CITY , STATE FROM STATION;

### Challenge 7
Query a list of CITY names from **STATION** with even ID numbers only. You may print the results in any order, but must exclude duplicates from your answer.

**Input Format**

The **STATION** table is described as follows:

| Field | Type |
|:----:|:---:|
| ID | NUMBER |
| CITY | VARCHAR2(21) |
| STATE | VARCHAR2(2) |
| LAT_N | NUMBER |
| LONG_W | NUMBER |

where LAT_N is the northern latitude and LONG_W is the western longitude.

In [0]:
# select DISTINCT(city) from station where id % 2 = 0;

### Challenge 8

Let N be the number of CITY entries in **STATION**, and let N' be the number of distinct CITY names in **STATION**; query the value of N - N' from **STATION**. In other words, find the difference between the total number of CITY entries in the table and the number of distinct CITY entries in the table.

**Input Format**

The **STATION** table is described as follows:

| Field | Type |
|:----:|:---:|
| ID | NUMBER |
| CITY | VARCHAR2(21) |
| STATE | VARCHAR2(2) |
| LAT_N | NUMBER |
| LONG_W | NUMBER |

where LAT_N is the northern latitude and LONG_W is the western longitude.

In [0]:
# select count(CITY)-count(distinct(CITY)) from station;

### Challenge 9
Query the two cities in **STATION** with the shortest and longest CITY names, as well as their respective lengths (i.e.: number of characters in the name). If there is more than one smallest or largest city, choose the one that comes first when ordered alphabetically.

**Input Format**

The **STATION** table is described as follows:

| Field | Type |
|:----:|:---:|
| ID | NUMBER |
| CITY | VARCHAR2(21) |
| STATE | VARCHAR2(2) |
| LAT_N | NUMBER |
| LONG_W | NUMBER |

where LAT_N is the northern latitude and LONG_W is the western longitude.

**Sample Input**

Let's sa that CITY only has four entries: DEF, ABC, PQRS and WXY

**Sample Output**

```
ABC 3
PQRS 4
```
**Explanation**


When ordered alphabetically, the CITY names are listed as ABC, DEF, PQRS, and WXY, with the respective lengths  and . The longest-named city is obviously PQRS, but there are  options for shortest-named city; we choose ABC, because it comes first alphabetically.

**Note**
**You can write two separate queries to get the desired output. It need not be a single query.**

In [0]:
# select TOP 1 city, len(city) from station order by len(city) DESC,city ASC;
# select TOP 1 city, len(city) from station order by len(city) asc ,city asc;

### Challenge 10

Query the list of CITY names starting with vowels (i.e., a, e, i, o, or u) from **STATION**. Your result cannot contain duplicates.

**Input Format**

The **STATION** table is described as follows:

| Field | Type |
|:----:|:---:|
| ID | NUMBER |
| CITY | VARCHAR2(21) |
| STATE | VARCHAR2(2) |
| LAT_N | NUMBER |
| LONG_W | NUMBER |

where LAT_N is the northern latitude and LONG_W is the western longitude.

In [0]:
# select distinct(city) from station where city LIKE 'A%' or city LIKE 'I%' or city LIKE 'U%' or city LIKE 'E%' or city LIKE 'O%';

## PYTHON

## Challenge 1

**Task** 
Read two integers from STDIN and print three lines where:

1.   The first line contains the sum of the two numbers.
2.   The second line contains the difference of the two numbers (first - second).
3.   The third line contains the product of the two numbers.

**Input Format**

The first line contains the first integer, . The second line contains the second integer, .

In [0]:
if __name__ == '__main__':
    a = int(input())
    b = int(input())

    print(a+b)
    print(a-b)
    print(a*b)

3
4
7
-1
12

## Challenge 2

**Task** 

Read two integers and print two lines. The first line should contain integer division,` a // b` . The second line should contain float division,  `a/ b`.

You don't need to perform any rounding or formatting operations.

**Input Format**

The first line contains the first integer, a. The second line contains the second integer, b.

**Output Format**

Print the two lines as described above.

In [0]:
if __name__ == '__main__':
    a = int(input())
    b = int(input())
    print(a//b)
    print(a/b)

## Challenge 3

**Task** 
Read an integer N. For all non-negative integers i < N, print i^2. See the sample for details.

**Input Format**

The first and only line contains the integer, N.

**Constraints**

1<=N<=20


**Output Format**

Print N lines, one corresponding to each .

In [0]:
if __name__ == '__main__':
    n = int(input())
    for i in range(n):
        print(i**2)

## Challenge 4
We add a Leap Day on February 29, almost every four years. The leap day is an extra, or intercalary day and we add it to the shortest month of the year, February. 
In the Gregorian calendar three criteria must be taken into account to identify leap years:


*   The year can be evenly divided by 4, is a leap year, unless:
*   The year can be evenly divided by 100, it is NOT a leap year, unless:
*   The year is also evenly divisible by 400. Then it is a leap year.

This means that in the Gregorian calendar, the years 2000 and 2400 are leap years, while 1800, 1900, 2100, 2200, 2300 and 2500 are NOT leap years

**Task** 

You are given the year, and you have to write a function to check if the year is leap or not.

Note that you have to complete the function and remaining code is given as template.

**Input Format**

Read y, the year that needs to be checked.

**Constraints**

```
1900<=y<=10^5
```


**Output Format**

Output is taken care of by the template. Your function must return a boolean value (True/False)

In [0]:
def is_leap(year):
    leap = False
    
    if (((year % 4 == 0) and (year % 100 != 0)) or (year % 400 == 0)):
        leap = True
    
    return leap

year = int(input())

## Challenge 5
Read an integer N.

Without using any string methods, try to print the following:

123...N

Note that "" represents the values in between.

**Input Format**

The first line contains an integer N.

**Output Format**

Output the answer as explained in the task.

In [0]:
if __name__ == '__main__':
    n = int(input())
    for i in range(1,n+1):
        print(i,end='')
    print()